<h1>Daenarys</h1>
<img src="../images/daenarys.jpg" width="500">
<ul>
	<li><a href="../index.html">Index</a></li>
	<li><a href="../characters/daenarys.html">Daenarys</a></li>
	<li><a href="../characters/jonsnow.html">Jon Snow</a></li>
	<li><a href="../characters/arya.html">Arya</a></li>
</ul>