<h1>Jon Snow</h1>
<img src="../images/jonsnow.jpg" width="500">
<ul>
	<li><a href="../index.html">Index</a></li>
	<li><a href="../characters/daenarys.html">Daenarys</a></li>
	<li><a href="../characters/jonsnow.html">Jon Snow</a></li>
	<li><a href="../characters/arya.html">Arya</a></li>
</ul>